가족 갤러리 웹페이지
사진 업로드:컴퓨터일 경우 파일, 스마트폰의 경우 폰의 갤러리에서 선택 가능.
사진 저장:왼쪽 하단에 있는 버튼을 눌렀을때 업로드시 사진의 이름을 정할 수 있다. 중복은 불가능. 혹시 사용자가 중복으로 쓸시 그 제목에 숫자를 몇개 붙인 추천 예시를 3개 만들어서 보여준 후, 사용자가 그중 하나를 선택해(예를 들면 사용자가 "여행"이란 제목으로 업로드 하려 할 시 똑같은 이름으로 올려진 사진이 있다면 여행1,여행50283,여행324등으로 중복되지 않게 할 수 있는 답변을 세가지 출력하고 사용자가 하나를 골라 그 이름으로 업로드 하는것) 적용 가능.
이미지 보여주기:이미지 업로드시 그 이미지들은 3열 n줄로 정리되어 밑으로 스크롤 하다 어떤 사진을 클릭하면 그 사진이 확대됨. 확대 되었어도 오른쪽이나 왼쪽으로 스크롤(또는 화살표 키)을 할시 바로 앞,뒤 사진으로 이동 가능. 그리고 다른 이용자에게 공유는 불가능 하다.
빠른 찾기:사진의 이름을 입력시 그 사진으로 이동됨.
설정:오른쪽 하단의 반투명한 "설정"버튼(톱니바퀴 모양)을 눌러 설정 탭에 들어 갈 수 있다. 이곳엔 소리 크기조절,밝기 조절,종료,분류 버튼 등이 있다.
분류:설정을 눌렀을떄 나오는 창에서 분류 버튼을 눌렀을때 필터를 체크해 전체 를 보거나 사진만 나오게 하거나 영상만 나오게 할 수 있다.(분류 버튼을 눌렀을때 3가지 체크란이 나옴. 첫번째:전체(모든걸 보여줌), 둘째:사진(사진 파일만 보여줌), 셋째:영상(영상 파일만 보여줌)이중 하나를 체크시 그렇게 변경됨.
이미지 편집: 이미지를 눌러 확대 되었을때 하단의 붓 모양 버튼을 눌러 밝기,채도등을 변경 할 수 있고 간단한 그림 도구(펜 모양은 연필,펜,붓,지우개. 색깔은 사용자가 임의로 지정 가능)로 사진 위에 그림을 그릴 수 있다.또한 자르기로 원하는 부분만 나오게 할 수 있으며 "원본 복원" 버튼을 누를시 처음으로 복원이 가능하다.
이미지 삭제:이미지를 눌러 확대 되었을때 하단의 쓰레기통 모양을 눌러 이 이미지를 삭제 할 수 있다. 클릭시 "정말로 삭제 하시겠습니까?" 라는 문구가 나오고 취소와 확인 버튼이 나온다. 이때 취소를 눌렀다면 전으로 돌아가지만 확인을 누를시 이미지는 삭제됨. 그러나 휴지통에 30일동안 보관돼고 그 후엔 완전히 삭제된다.
휴지통:상단의 반투명한 버튼을 눌렀을 시 들어와짐. 완전히 삭제되기 전인 사진들이 모여있고 기능은 청소(휴지통의 모든 이미지를 즉시 전부 삭제),복원(완전히 삭제되기 전의 사진을 다시 불러와 업로드 시킴)등이 있다.
로그인:아이디와 비밀번호로 로그인 가능.

# 디자인 참고
디자인은 르네상스 시대 미술관 느낌.

https://kr.pinterest.com/pin/84161086783973856/
https://kr.pinterest.com/pin/207517495320039536/
https://kr.pinterest.com/pin/107101297385040253/
https://kr.pinterest.com/pin/449585975321124159/